.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  align-items: center;
  @media (max-height: 855px) {
    .navbar {
      display: grid;
      justify-content: center;
      gap: 2rem;
      padding: 2.5rem 2rem;
    }
  }
}

// @media (max-height: 390px) {
//   .navbar {
//     display: grid;
//     justify-content: center;
//     gap: 2rem;
//     padding: 2.5rem 2rem;
//   }
// }
