.profile {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  border-left: 30px solid #ff5b90;
  @media (max-width: 768px) {
    border-top: 20px solid #ff5b90;
    border-left: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    font-weight: 400;

    @media (max-width: 768px) {
      display: grid;
      align-content: space-evenly;
      gap: 0rem;
    }

    h4 {
      font-weight: 700;
    }
    .data {
      display: flex;
      text-align: left;
      gap: 2rem;
      background: rgba(190, 190, 192, 0.1);
      border-radius: 0.75rem;
      padding: 2rem;

      .data-inside {
        display: grid;
        gap: 15px;
        .label {
          display: flex;
          gap: 3px;
          @media (max-width: 1019px) {
            display: grid;
          }
        }
      }
      @media (max-width: 768px) {
        background-color: white;
        flex-direction: column;
        padding: 0rem;
        padding-bottom: 2rem;
        gap: 1rem;
      }
    }
    .about {
      display: grid;
      text-align: left;
      width: 737px;
      gap: 0.5rem;
      p {
        line-height: 19px;
        word-spacing: 0.05rem;
      }
      @media (max-width: 768px) {
        width: 300px;
        border-top: 1px solid #e5e5e5;
        padding: 2rem 0rem;
      }
      @media (max-width: 290px) {
        width: 251px;
      }
    }
  }
}
