.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .form {
    background-color: white;
    box-shadow: 0px 10px 10px 2px rgba(51, 51, 51, 0.1);
    border-radius: 0.75rem;
    padding: 2rem;
    width: 480px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .text {
      display: grid;
      gap: 1rem;

      h2 {
        width: 280px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 23.44px;
      }
    }
    @media (max-width: 768px) {
      background: none;
      width: 80%;
      color: white;
      box-shadow: none;
    }

    .submit {
      display: grid;
      gap: 16px;
      line-height: 1.2rem;
      input {
        background: #f8f5f5;
        color: black;
        border-radius: 10px;
        padding: 1rem;
        height: 50px;
        font-weight: 500;
        font-size: 20px;
        transition: 0.2s ease-in-out;
        &:focus {
          outline: none;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.404);
        }
      }

      button {
        background-color: #ff5b90;
        border-radius: 10px;
        padding: 1rem;
        height: 50px;
        font-weight: 500;
        font-size: 20px;
        color: white;
      }
    }
  }
}
