.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .form {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.75rem;
    padding: 2rem;
    width: 480px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    h2 {
      width: 280px;
    }
    @media (max-width: 768px) {
      background: none;
      width: 80%;
      color: white;
      box-shadow: none;
    }

    .error {
      font-weight: 600;
      width: 100%;
    }
    .email {
      display: grid;
      gap: 16px;
      line-height: 1.2rem;
      input {
        background-color: rgb(240, 240, 240);
        border-radius: 0.75rem;
        padding: 1rem;
        font-weight: 600;
        font-size: larger;
        transition: 0.2s ease-in-out;
        &:focus {
          outline: none;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.404);
        }
      }

      button {
        background-color: rgb(235, 53, 138);
        border-radius: 0.75rem;
        padding: 1rem;
        font-weight: 600;
        font-size: larger;
        color: white;
      }
    }
  }
}
