.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  align-items: center;
  button {
    font-weight: 700;
    font-size: large;
    color: rgba(0, 0, 0, 0.542);
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem 1rem;
    h2 {
      font-size: 23px;
    }
  }
}
