.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  align-items: center;
  h2 {
    font-size: 30px;
  }
  button {
    font-weight: 700;
    font-size: 16px;
    color: #00000099;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem 1rem;
    margin-bottom: 10px;
    h2 {
      font-size: 23px;
    }
  }
}
