.App {
  text-align: center;
  background: linear-gradient(
    160deg,
    rgba(235, 53, 138, 0.7) 0%,
    /* rgba(235, 187, 53, 0.432) 39%, */ rgba(253, 219, 45, 0.6) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
