body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
